/* Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Noto Serif Display', serif;
}

/* Droppable berries*/

.berry-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 100px;
  width: 360px;
  margin: auto;

}

#straw-grid,
#black-grid,
#blue-grid,
#goose-grid {
  display: flex;
  justify-content: center;
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;

  text-align: center; /* Fix */
}

/* Baskets to drop in */

.baskets {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  height: 350px;
  width: 600px;
  margin: 180px auto;
}

#straw-basket,
#black-basket,
#blue-basket,
#goose-basket {
  display: flex;
  justify-content: center;
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;

}

.drop {
  z-index: 100;
}

.drag {
  z-index: 100;
}

/* How to play */

.instructions-header {
  width: 350px;
	padding: 25px 20px;
	margin: 20px auto;
	border: 10px solid rgb(30, 160, 102);
	background-color: rgb(14, 135, 111);
	text-align: center;
	color: rgb(0, 0, 0);
}
